.link {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    margin-right: 1.5rem;
    user-select: none;
    transition: all 0.2s ease-out;
}

.container {
    .active {
        color: red;
    }
}
